body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.loading {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}

.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 300px;
  padding: 5px;             
  padding-left: 10px;
  padding-top: 10px;
  margin: 5px;
  font: 12px sans-serif;        
  background: lightsteelblue;
  display: none;
}

svg, canvas {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
}
